{% extends '/base.html.twig' %}

{% block title %}
à propos
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    <div class="jumbotron">
         <h1>à propos</h1>
    </div>
Test deploiment 5

{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
