{% extends '/base.html.twig' %}

{% block title %}
à propos
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    <div class="jumbotron">
         <h1>à propos de nous ?</h1>
    </div>
    <div class="container">

        <div class="card-trombi">
            <img src="" alt="">
            <div class="card-trombi-info">
                <h2 class="card-trombi-name"></h2>
                <h4 class="card-trombi-status"></h4>
                <p class="card-trombi-quote"></p>
                <div class="car-trombi-socialLink">
Ok
Ok
Ok
Ok
Ok
Ok
Ok
                    <span class="linkedin"></span>
                    <span class="mail"></span>
                    <span class="portefolio"></span>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
