{% extends 'base.html.twig' %}

{% block title %}
Article
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    <div class="jumbotron">
         <h1>Les articles</h1>
    </div>


{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
