

.article-item-show {
  margin-bottom: 1rem;
  #scene{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .p-img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .animated{
    position: absolute;
    width: 100vw;
    z-index: -1;
    height: 65vh;
    display: none;
    filter: drop-shadow(2px 10px 10px #87459457) blur(3px) drop-shadow(2px 5px 6px rgba(104, 104, 104, 0.57));



  &.active{
      display: block;
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    color: #F60052;
    display: flex !important;
    width: 100%;
  }

  .p-text {

    margin-bottom: 70px;
    h1:hover {
      color: #F60052;
    }

    .p-date {
      color: #b3b3b3;
      font-size: 14px;
      margin-bottom: 1.5rem;
    }

    .p-description {
      margin-bottom: 1rem;
      color: gray;
    }

  }



}

.projects {
  margin-left: 1vw;
  margin-right: 1vw;
}
.espaceProjet{
  margin-top: 6vh;
}
.titre1Projet{
  font-size: 1.5rem;
  font-weight: bold;
}

