body {
  margin:0px;
  font-family:'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}
.contenu {
  flex: 1;
}
*{
  box-sizing: border-box;
  line-height: 180%;
}
a {
  text-decoration: none;
  color: black;
}
a.primaire {
  padding: 12px 22px;
  border-radius: 5px;
  cursor:pointer;
  background-color: $red;
  color: white;
}
.c {
  text-align: center;
}
.mt-50 {
  margin-top: 50px;
}
h1 {
  font-weight: 600;
  margin-bottom: 25px;
}
h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}
header {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  z-index: 3000;
  background-color: rgba(0, 16, 62, 0.0);
  color: white;
}
header a {
  color: white;
}
header img {
  height: 100px;
  padding: 15px;
}
.crea {
  background-image: url(./../../../../../public/pho/crea.png);
  padding: 100px 0;
  margin: 50px 0;
  text-align: center;
  background-size: cover;
  color: white;
}
.menu-du-header a {
  text-decoration: none;
  color: white;
  background-color: #111111;
  padding: 16px 8px 8px 8px;
  font-size: medium;
  display: block;
}
.menu-du-header_here a {
  text-decoration: none;
  color: white;
  background-color: #111111;
  padding: 16px 8px 12px 8px;
  font-size: medium;
  display: block;
  border-bottom:2px white solid ;
}
.al {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.al img {
  width: 100%;
  max-width: 300px;
  padding: 60px 0px;
}
.ne {
  background-color: #f5f5f5;
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.ne a {
  color: $red;
  font-weight: bold;
}
.he {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ne p {
  text-align: justify;
}
.ne span {
  margin-left: auto;
}
.ne img {
  height: 38px;
  margin-right: 13px;
}
/* soulignage effect */
#menu-du-header a:after {
  position: relative;
  content: " ";
  display: block;
  left: 0;
  top: 4px;
  width: 0px;
  height: 2px;
  border-bottom: 3px $red solid;
  transition: all 0.3s ease;

}
.active::after{
  position: relative;
  content: " ";
  display: block;
  left: 0;
  top: 4px;
  width: 100%!important;
  height: 2px;
  border-bottom: 3px $red solid;
}

#menu-du-header a:hover:not(.active):after {
    width: 100%;


}



/* soulignage effet (fin) */
.margium {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.margium-s {
  display: block;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}
.espace{
  margin: 0px 15px;
}
#menu-du-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    padding: 8px;
    margin: 0px 8px;
  }
}

#marge-du-header {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
#description {
  padding: 40px 40px;
  display: inline-block;
}
#description p {
  max-width: 350px;
  text-align: justify;
}

#segond-segment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:  50px 0px 50px 0px;
  div{
    flex: 1;
  }
  img {
    width: 100%;
    flex: 0.5;
  }
  h3 {
    text-transform: uppercase;
  }
}
#description-seg {
  margin: 40px;
  line-height: 170%;
  flex: 1.5;
}
#troisieme-segment {
  margin-top: 50px;
  padding: 50px 0px 50px 0px;
  background-color: rgba(0, 16, 62, 1);
  color: white;
  h2 {
    margin-bottom: 50px;
    text-align: center;
  }
  .icon-center{
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &:before{
      font-size: 2rem;

    }
  }
  a{
    color:white;
    &:hover{
      color: $red;
    }
  }
}

.liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hidden{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 0px;
  overflow: hidden;
  transition: all .5s ease-in-out;
}


.card img {
  max-width: 320px;
  width: 280px;
  border-radius: 8px;
  border-bottom: 8px $red solid;
}
.card {
  background-color: transparent;
  color: white;
}
.card h4, .card p {
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
#quatrieme-segment {
  background-color: #f5f5f5;
  padding: 40px 50px;
}
input, textarea {
  padding: 12px 22px;
  font-size: medium;
  background-color:#f5f5f5;
  color: black;
  border:2px solid #cfcfcf;
  width: 100%;
  font-family:'Open Sans', sans-serif;
  border-radius: 5px;
}
input[type="submit"]{
  cursor:pointer;
  background-color: $red;
  border:0px;
  color: white;
}
.c {
  text-align: center;
}
#quatrieme-segment form {
  margin-top: 32px;
  margin-bottom: 35px;
}


.colone {
  flex-direction: column;
  display: flex;
}
#col1 {
  flex: 0.6;
}
@media (max-width: 650px), handheld {

  .colone {
    margin-bottom: 28px;
  }
  #marge-du-header {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
  }
  #menu-du-header a {

  }
}
@media (max-width: 720px), handheld {

  #description {
    padding: 40px 20px;
    display: block;
    width: 100%;
  }
  #segond-segment {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  #segond-segment img {
    padding: 0px 70px;
    max-width: 430px;
  }
  #description-seg {
    margin: -30px  40px 40px 40px;
    line-height: 170%;
    flex: 1.5;
  }
}
@media (max-width: 1022px), handheld {
  #liste {
    display: flex;
    flex-direction: column;
  }
  #troisieme-segment h2 {
    text-align: center;
  }
  #troisieme-segment h2 {
    text-align: center;
  }
  .card {
    margin-bottom: 23px;
    display: contents;
  }
  .card img {
    max-width: 400px;
    width:100% !important;
  }

}
