
footer {
  margin-top: auto;
  background-color: #000;
  color: #cccccc;
  flex: 0;
  padding: 12px;
  display: flex;
  justify-content: space-around;
}
#marge_footer {
  max-width: 720px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
picture img {
  width: 100%;
}

#foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.social {
  display: flex;
  justify-content: space-around;
}
.social img {
  width: 38px;
  padding: 7px;
}
img#logofooter {
  height: 62px;
  padding: 12px;
}
@media (max-width: 512px), handheld {
  #foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
#foot p {
  line-height: 150%;
}
@media (max-width: 650px), handheld {
  footer {
    flex-direction: column;
    padding: 15px 25px 0px 25px;
  }

}
