
footer {
  margin-top: auto;
  background-color: #00103e;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;

  .d-flex .fas {
    padding-top: 5px;
    color: #E6E6E6;
    width: 25px;
  }
  
  p.subtitle {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
  }
  
  p {
   color: #E6E6E6;
  }
  
  .adresse {
    padding-top: 10px;
  }
  
  img#logofooter {
    height: 55px;
    margin-bottom: 20px;
  }
  
  a {
    color: #E6E6E6 !important;
  }
  
  .fab {
    color: #E6E6E6;
    margin-right: 5px;
    font-size: 2em;
  }
  
  .rights {
    text-align: right;
    border-top: white solid 1px;
    margin-top: 20px;
    padding-top: 20px;
  }
  
}

@media (max-width: 512px), handheld {
  #foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
#foot p {
  line-height: 150%;
}
@media (max-width: 650px), handheld {
  footer {
    flex-direction: column;
    padding: 15px 25px 0px 25px;
  }

}
