//Background Colors
$primary-color:#005293;
$secondary-color:#202020;
$tertiary-color:#202020;

//Fonts Colors

//Sizes

//MediaQueries

//Comments section variables
$comment-font:Darker Grotesque;
$primary-comment-color:#005293;
$secondary-comment-color:#202020;
$tertiary-comment-color:#787878;
$background-comment-color: #1b212d;
$profile-picture-size-comment:45px;
