.about-header {
  img {
    width: 100%;
  }
}

.card-trombi-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 15px;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, minmax(200px, 1fr)) !important;
  }

  @include breakpoint(desktop) {
    grid-template-columns: repeat(4, minmax(200px, 1fr)) !important;
  }

}

.card-trombi {
  max-width: 350px;
  background-color: #dcdcdc;
  box-shadow: 4px 7px 40px 0px #0000005c;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  border-radius: 10px;
  overflow: hidden;
  justify-self: center;
  position: relative;
  line-height:0%;
  &:after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(to top, rgba(255,0,0,0) 50%,rgba(255,0,0,0.35) 100%);
    opacity:0;
    z-index: 1;
  }

  img {
    width: 100%;
    object-fit: cover;

  }

  &-info {
    background-color: rgba(4, 4, 4, 0.6);
    color: white;
    text-align: center;
    padding: 20px 15px;
    position: absolute;
    bottom: 0px;
    opacity: 1;
    transform: translateY(55%);
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 2;

    @include breakpoint(mobile) {

    }

  }

  &-name {
    margin-bottom: 5px;
    font-size: 2rem;
  }

  &-status {
    font-weight: bold;
    color: #dc3545;
    margin: 0;
    opacity: 0;
    font-size: 18px;

  }

  &-quote {
    padding-bottom: 10px;
    margin: 0;
    font-size: 14px;
    color: rgb(146, 146, 146);

  }

  &-socialLink {
    i {
      margin-right: 10px;
      font-size: 1.5rem;

    }

  }


}
.card-trombi:hover {
  &:after{

    opacity: 1;
  }
}
.card-trombi:hover > .card-trombi-info {
    background-color: #dcdcdc;
    color: black;
    transform: translateY(0%);

  .card-trombi-status{
    opacity: 1!important;
  }

  @include breakpoint(mobile) {
  }

}

/*

!* Picture of us*!
.card-trombi:hover > #imgSaid {
  content: url(./../../../../../public/pho/said_rose.png);
}
.card-trombi:hover > #imgLison {
  content: url(./../../../../../public/pho/lison_rose.png);
}
.card-trombi:hover > #imgCloe {
  content: url(./../../../../../public/pho/cloe_rose.png);
}
.card-trombi:hover > #imgLea {
  content: url(./../../../../../public/pho/lea_rose.png);
}
.card-trombi:hover > #imgLucas {
  content: url(./../../../../../public/pho/lucas_rose.png);
}
.card-trombi:hover > #imgThomas {
  content: url(./../../../../../public/pho/thomas_rose.png);
}
.card-trombi:hover > #imgLoick {
  content: url(./../../../../../public/pho/loick_rose.png);
}
*/
