easy_admin:
  entities:
    User:
      class: App\Entity\User
      list:
        actions: ['-new']
        fields:
          - 'username'
          - 'email'
          - 'roles'
      password_encoding: { algorithm: 'bcrypt', cost: 12 }
      form:
        fields:
          - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN', 'ROLE_SUPER_ADMIN': 'ROLE_SUPER_ADMIN', 'ROLE_WRITER': 'ROLE_WRITER' } } }
