<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agence Web - PopWeb{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block gtag %}{% endblock %}
        {% block meta_description %}{% endblock %}
        {% block meta_keywords %}{% endblock %}
        {% block meta_robots %}{% endblock %}
        {% block meta_google %}{% endblock %}
        <link type="text/plain" rel="author" href="http://34.77.181.91/popweb/humans.txt" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}

        {% endblock %}

        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
		
		<link rel="icon" type="image/png" href="img/favicon.png" />
        <meta name="theme-color" content="#00103e">
        <meta property="og:image" content="img/icon.png" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>


    {%  include "header.html.twig" %}

    {% for message in app.flashes('success')  %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
            {% block body %}

            {% endblock %}



    {%  include "footer.html.twig" %}




        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script  src="{{ asset("js/lazysizes.min.js") }}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" ></script>
        <script  src="{{ asset("build/app.js") }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
