<footer>
    <div id="marge_footer">
        <div id="foot">
            <a href="index.php"><img id="logofooter" src="{{ asset('img/logo_lite.svg') }}" alt="logo de BlueCake"/></a>

            <p>Conçu avec <a href="{{ path('app_login') }}" style="color:white;"> ♥ </a> à Lens<br>Tous droits réservés POPWEB  ·  <span id="annee">X</span></p>

            <div class="social">
                <a href="https://www.facebook.com/popweb.conception/" target="_blank"><img src="{{ asset('img/f.svg') }}" alt="facebook"/></a>
            </div>
        </div>
    </div>
</footer>
<script>
    function footannee() {
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("annee").innerHTML = n;
    }
    footannee();
</script>
