<footer>
    <div id="marge_footer">
        <div id="foot">
            <a href="index.php"><img id="logofooter" src="{{ asset('img/logo_lite.svg') }}" alt="logo de BlueCake"/></a>
            <p>Conçu avec <a href="moderation.php" style="color:white;"> ♥ </a> à Lens<br>Tous droits réservés POPWEB  ·  <span id="annee">X</span></p>
            <div class="social">
                <a href="https://i.pinimg.com/originals/5b/27/01/5b270123bd7f65a53d4f889baa8609d7.gif" target="_blank"><img src="{{ asset('img/f.svg') }}" alt="facebook"/></a>
                <a href="https://i.pinimg.com/originals/5b/27/01/5b270123bd7f65a53d4f889baa8609d7.gif" target="_blank"><img src="{{ asset('img/y.svg') }}" alt="youtube"/></a>
                <a href="https://i.pinimg.com/originals/5b/27/01/5b270123bd7f65a53d4f889baa8609d7.gif" target="_blank"><img src="{{ asset('img/t.svg') }}" alt="twitter"/></a>
            </div>
        </div>
    </div>
</footer>
<script>
    function footannee() {
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("annee").innerHTML = n;
    }
    footannee();
</script>
