

.comments{
  font-family: $comment-font, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background: #F9F9F9;
  &__notConnected{
    @include arrow-button(#fff, $primary-color, #0b0d40, 22px, 15em, 2em, right);

    &:hover {
      //animation: zoom 2s;
    }
  }
}

.comment {
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0px 6px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  padding: 15px 40px;
  width: 100%;
  color: #161616;
  border-bottom: 1px solid #dadada;



  &__img{
    max-width: $profile-picture-size-comment;
    max-height: $profile-picture-size-comment;
    width: 100%;
    height: 100%;
    margin-right: 20px;
  }

  &__body{
    max-width: 90%;
    overflow-wrap: break-word;
    width: 100%;
  }
  &__actions{
    display: flex;
    order: 1;
  }
  &__header{
    display: flex;
    align-items: center;

    & .msalsas-voting-widget-wrapper--comment{
      all: unset;
      order: 1;
      margin-left: auto;

      & .msalsas-voting-widget{
        all: unset;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;

        & .msalsas-voting-shakes{
          all: unset;
          margin-right: 10px;
          font-weight: bold;
        }

        & .msalsas-voting-shake-it{
          all: unset;
          & .msalsas-voting-shake-it-a{
            all: unset;
            .fa-heart{
              color: #dc3545;
              font-size: 2rem;
            }
            .fa-heart:hover::after{
              position: absolute;
              margin-top: -5px;
              margin-left: -35px;
              content: "❤";
              color: #dc3545;
              font-size: 2.5rem;
              opacity: 1;
              animation: hearts .4s ease;

            }
            @keyframes hearts {
              0% { opacity: 0; }
              100% { opacity: 1; }
            }
          }
        }

        & .msalsas-voting-clicks{
          all: unset;
        }
      }
    }
  }

  &__author{
    margin: 0;
    color: #161616;
    font-weight: bold;
    font-size: 1.2rem;
    &:hover{
      color: #0e0e0e;
      text-decoration: none;
    }
  }

  &__createdat{
    color: $tertiary-comment-color;
    margin-left: 15px;
    font-size: 13px;
  }

  &__text {
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
    cursor: default;
  }

  &__actions{
    list-style-type: none;
    order: 1;
    margin-left:60%;
  }
  &__edit{

    &--validate{
      a{
        display: none;

      }
    }
  }
  &__delete{
    padding-left: 10px;
  }

  &:hover {
    //  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 20px rgba(0,0,0,0.22);
  }

}

.commentForm{
  background: #F9F9F9;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  label {
    margin-bottom: 0px;
  }
  .same-align{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 400px;
  }
  .form-control {
    color: #495057;
    background-color: #fdfdfd;
    border: 0.5px solid #cecece;
    border-radius: .2rem;
}
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #b0b4b8;
    outline: 0;
    box-shadow: none !important;
  }
  .btn-pink {
    background-color: #F60052;
    border-color: #F60052;
    color: white;
  }
  .btn-pink:hover {
    background-color: rgb(214, 5, 75);
    border-color: rgb(214, 5, 75);
    color: white;
  }
  &__textarea{
    padding: 5px 5px 5px 10px;
    min-height: 93px !important;
    transition: 0.2s;
    box-sizing: border-box;
    font-size: 1rem;
  }
}


.edit_input{

  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 100%;
}
.edit_input:focus{
  border-bottom-color: orange;
}