.section {
  text-align: center;
}


.services {
  .service__item {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;

    &__img {
      align-self: center;
      width: 250px;
    }

    &__p1 {
      font-weight: bold;
      color: $red;
      font-size: 1.5rem;
    }

    &__p2 {
      font-weight: normal;
      color: inherit;
      font-size: 1rem;
    }

  }
}
