//Article.scss
@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {
  background: none;
  border: 0;
  font-size: $font-size;
  line-height: $height;
  position: relative;
  width: $width;
  height: $height;

  @if $direction == "up" {
    transform: rotate(-90deg);
  }  @else if $direction == "down" {
    transform: rotate(90deg);
  }

  a {
    color: $color;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  &::before,
  &::after {
    background: $background;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: $height/2;
  }


  &::before {
    box-shadow:
            -1px 1px 0 $shadow,
            -2px 2px 0 $shadow,
            -3px 3px 0 $shadow,
            -4px 4px 0 $shadow;
    transform: skew(45deg);
    @if $direction == "left" { bottom: 0; z-index: 1 }
    @else { top: 0; }
  }

  &::after {
    box-shadow: 1px 1px 0 $shadow,
    2px 2px 0 $shadow,
    3px 3px 0 $shadow,
    4px 4px 0 $shadow;
    transform: skew(-45deg);
    @if $direction == "left" { top: 0;}
    @else { bottom: 0; }
  }

  &:hover::before,
  &:hover::after {
    background: lighten($background,15%);
  }

  &:focus {
    &::before,
    &::after {
      background: lighten($background,15%);
    }
    outline: 0;
  }
}


@mixin breakpoint($point) {
  @if $point == desktop {
    @media only screen and (min-width : 1224px){ @content ; }
  }
  @else if $point == tablet {
    @media only screen and (min-device-width : 768px) and (max-device-width : 1224px) { @content ; }
  }
  @else if $point == mobile {
    @media only screen and (max-device-width : 480px) { @content ; }

  }
}
