{% extends 'base.html.twig' %}

{% block body %}
    <div class="img-banner">
        <img src="{{ asset('pho/banner-blog.jpg') }}" alt="Bannière blog" class="banner">
        <div class="text">
            <h1>Un probleme est survenu</h1>
            <p>On répare ça tout de suite ! :)</p>
        </div>
    </div>

    <h1>Oopsie</h1>

    <p>
        You're not supposed to be here.
        <a href="{{ path("index") }}">return to the homepage</a>.    </p>
{% endblock %}
