{% extends 'base.html.twig' %}

{% block title %}
    Article
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}

    <div class="jumbotron">
        <h1>Nos articles</h1>
    </div>
    {% for article in articles %}
        {% if article.title == "Test" %}
        {{ article.id }}
        {{ article.title }}
        {{ article.text }}
        <br>
        {% endif %}
    {% endfor %}

{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
