{% extends 'base.html.twig' %}

{% block title %}
    Project
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    <div class="img-banner">
        <img src="{{ asset('pho/banner-blog.png') }}" alt="Bannière blog" class="banner">
        <div class="text">
            <h1>Notre aide</h1>
            <p>Découvrez l'aide que l'on vous apporte.</p>
        </div>
    </div>

    <div class="jumbotron">
         <h1>Nos projets</h1>
    </div>


{% endblock %}


  {% block javascripts %}
      <script>


      </script>
  {% endblock %}
